
body {
  font-size: 1.2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: silver;
}

.wrapper {
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "menu title logo";
}

header h1 {
  grid-area: title;
  text-align: center;
  font-size: 5em;
}

header .logo_container {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_container #logo {
  height: auto;
  max-width: 50%;
}

.menu_container {
  grid-area: menu;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  list-style-type: none;
  width: 50%;
  text-align: center;
}

#menu li {
  display: block;
  margin: 0 1em;
  padding: 0.5em;
}

#menu li a {
  text-decoration: none;
  font-family: "Courier New";
  font-size: 2em;
  color:  red;
  color: black;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  grid-template-areas:
    "text image discography"
    "text image discography"
    "incrementBtn showhideBtn keywordArray";
}

.content p {
  grid-area: text;
  font-size: 1em;
  padding: 2.5em;
  max-width: 100%;
  text-align: center;
}

.content .image_container {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content #rhcp_members {
  grid-area: image;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
}

.content .discography-container {
  grid-area: discography;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content #discography-section {
  padding:2.5em;
  grid-area: discography;
  text-align: center;
  list-style-type: none;
}

.button-container {
  font-size: 1.5em;
}

.button-container button {
  margin: 1em;
  padding: 0.75em;
  border-radius: 5px;
  border: 1px solid;
  font-size: 1em;
}

.button-container input {
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid;
  font-size: 1.5em;
  width: 5%;
  border: 0px solid;
}

#increment-button-container {
  grid-area: incrementBtn;
  display: flex;
  justify-content: center;
  align-items: center;
}

#show-hide-button-container {
  grid-area: showhideBtn;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#keyword-array-container {
  grid-area: keywordArray;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: footer;
  height: 100px;
}

footer h2 {
  text-align: center;
  font-size: 1em;
}

@media only screen and (max-width: 500px) {
  .content #discography-section {
    font-size: 0.5em;
  }

  .button-container {
    font-size: 0.75em;
  }

  .button-container button {
    margin: 0.25em;
    padding: 0.25em;
  }

  .button-container input {
    margin: 0.25em;
    padding: 0.25em;
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    grid-template-areas:
      "header"
      "content"
      "footer";
  }

  header {
    grid-template-columns: 1fr;
    grid-template-areas:
      "menu"
      "title"
      "logo";
  }

  .content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "text"
      "image"
      "discography"
      "incrementBtn"
      "showhideBtn"
      "keywordArray";
  }

  .content #rhcp_members {
    width: 100%;
  }

  .content #discography-section {
    font-size: 0.75em;
  }

  .button-container {
    font-size: 1em;
  }

  .button-container button {
    margin: 0.5em;
    padding: 0.5em;
  }

  .button-container input {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1em;
  }
}

@media only screen and (max-width: 1300px) {
  .content #discography-section {
    font-size: 0.75em;
  }

  .button-container {
    font-size: 1em;
  }

  .button-container button {
    margin: 0.5em;
    padding: 0.5em;
  }

  .button-container input {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1em;
  }
}


